main {
    padding: 90px;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
.cuadro-divisas {
    border: 4px solid black;
    padding: 40px;
    width: 400px;
    margin: 40px;
    
}
.menu > ul{
    display: flex;
    padding: 20px 30px;
    float: right;
    cursor: pointer;
    margin-right: 30px;
}

.menu > ul > li > a {
    color: black;
    text-decoration: none;
    font-family: Georgia, Times, sans-serif;
    border: 2px solid #000;
    font-weight: bolder;
    padding: 4px;
}
.menu > ul > li a:hover{
    text-decoration: underline;
    background-color:rgb(118, 178, 238);
}
header img {
    height: 60px;
    width: 250px;
    margin-left: 30px;
}

header nav{
    background-color: whitesmoke;
    margin-top: 15px;
    margin: 0;
    padding: 0;
}



h1{
    margin-top: 45px;
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 90px;
    margin-right: 90px;
}


.color{
    color: rgb(250, 218, 37);
    font-weight: bold;
}

.imagenes1 > img{
    width: 100px;
    height: 90px;
    margin-right: 40px;
    justify-content: center;
    gap: 20PX;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    
}

.imagenes1{
    margin-left: 90px;
    margin-right: 90px;
}

.subtitulo{
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 90px;
    margin-right: 90px;
}

.banderas > img{
    width: 130px;
    height: 80px;
    margin-right: 200px;
    justify-content: center;
    gap: 20PX;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

.banderas{
    margin-left: 90px;
    margin-right: 90px;
}

.contenedorsecundario{
    margin-top: 60px;
}

.cambio{
    color: #0056b3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

.dolar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-style:italic;
    font-weight: bold;
    margin-top: 5px;
    text-decoration: underline rgb(8, 8, 8);
}
.formulario {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px; 
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 180px;
    margin-right: 180px;
    border: 10px solid #bbe0f8;
    background-color:lavender;
    border-radius: 10px;
    margin-top: 50px;
    z-index: 1; /* Valor bajo para asegurarse de que esté por debajo del header */
}

.formulario label,
.formulario select,
.formulario input,
.formulario button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formulario select {
    font-size: 20px; 
    padding: 10px; /* Ajusta el padding para aumentar el área de clic */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.formulario select option {
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.formulario input {
    font-size: 16px; 
    padding: 10px; /* Ajusta el padding para aumentar el tamaño del campo de entrada */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.formulario label {
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.formulario button {
    font-size: 30px; 
    padding: 5px 10px; /* Ajusta el padding para aumentar el tamaño del botón */
    border: 2px solid #5ca3f0; /* Ajusta el borde del botón si es necesario */
    border-radius: 10px; 
    background-color: #5ca3f0; /* Ajusta el color de fondo del botón */
    color: #fff;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del botón */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 20px;
}

.formulario button:hover {
    background-color: #0056b3; 
}

.button-container {
    display: flex; /* Utiliza Flexbox para alinear los botones en una fila */
    justify-content: space-between;
}

.button-container button {
    font-size: 30px; 
    padding: 15px 26px; /* Espacio interno en los botones */
    border: none; 
    border-radius: 5px; 
    background-color: #3991f0;
    color: #fff; 
    cursor: pointer; 
    flex: 1; /* Hace que los botones ocupen el mismo espacio disponible */
    text-align: center; 
    margin-top: 150px;
    font-weight: bold;
}

.button-container button:hover {
    background-color: #0056b3;
}

.button-container{
    margin-left: 90px;
    margin-right: 90px;
    gap: 35px;
}

.resultado{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    background-color: white;
    padding: 10px; /* Añadir un padding para más espacio interno */
    min-height: 20px; /* Establecer una altura mínima para el fondo */
    border: 1px solid #0c0c0c;
}

.registro{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.registro li {
    margin-bottom: 10px; 
    background-color: #f9f9f9; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.historia{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 70px;
    padding: 100px;
    font-weight: bold;

}

main{
    margin-left: 20px;
    margin-right: 20px;
}

main .texto{
    font-size: 1.2rem;
    line-height: 25px;
    color: black;
    text-align:justify;
    margin-top: 1%;
    margin-left: 180px;
    margin-right: 180px;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    text-align: center;
    font-size: 50px;
    padding: 100px;
    font-weight: bold;
}

.contenedor {
    display: flex;
    justify-content: space-between;   
    gap: 50px;
    margin-left: 180px;
    margin-right: 180px;
}

.nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #7199ee;
}

.foto {
    width:220px; 
    height: 300px;
    border-radius: 20px;
  }
  
.foto1 {
    text-align: center; 
    margin: 20px; 
}

.foto2 {
    text-align: center; 
    margin: 20px; 
}

.foto3 {
    text-align: center; 
    margin: 20px; 
}

.frase{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px; 
    margin-top: 50px;
}

.negrita{
    font-weight: bold;
}

.contenedor1{
    margin-left: 180px;
    margin-top: 50px;
}

.logo2{
    width: 200px;
    height: 50px;
}

.p1{
    font-size: 20px;
}

.redes img{
    flex-direction: column;
}

.contenedor2{
    text-align: center;
    margin-top: 60px;
    margin-right: 50px;
}

.btn-whatsapp { 
    display: table;
    font-family:sans-serif;
    text-decoration: none;
    margin: 1em auto;  
    color: #fff;
    font-size: 0.9em;
    padding:  1em 1em 1em 3.5em;
    border-radius: 1em;
    font-weight: bold;
    background: #25d366 url('https://tochat.be/click-to-chat-directory/css/Whatsapp.svg')
    no-repeat 1.5em center;
    background-size: 1.6em;
    text-align: left;
    width: 120px;
    margin-top: 20px;
}

.btn-whatsapp{
    margin-left: -1px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.contacto{
    color: blue;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}
.gmail{
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid #386e5c8a; 
    padding: 2px;
    border-radius: 1em;
    width: 220px;
}

.contenedor3{
    margin-right: 180px;
    margin-top: 60px;
}

.contenedor3 > p{
    margin-bottom: 10px;
    
}

.horario{
    color: blue;
    font-size: 25px;
    font-weight: bold;
}
.hora{
    color:blue;
    font-weight: bold;
}

.footer{
    background-color: rgb(110, 110, 252);
    padding: 40px;
    font-family: Times, sans-serif;
    text-align: center;
    font-size: 12px;
    color: white;
}

.libro{
    display: block; 
    margin-left: 950px; 
    margin-right: 0; 
    width: 120px;
    height: 50px;
    margin-top:-80px;
    border: 2px solid#1151da; 
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 80px;
}

.redes {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-right: 182px;
}

.redes img {
    margin: 5px 0;
}